<!--Header-->
<%- include partials/header.ejs %>




    
    <!--navigation bar and logo-->
    <%- include partials/nav_bar.ejs %>
    <!--Main content-->
    <main class="content">
        <h3>Email: joshua.soriano27@outlook.com</h3>
        <h3>Phone number: 437-982-3824</h3>
        <!--Contact form-->
        <%- include partials/form.ejs %>
    </main>


<!--Footer-->
<%- include partials/footer.ejs %>