<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>




    
    <!--navigation bar and logo!-->
    <!--Main content-->
    <%- include partials/nav_bar.ejs %>
    <main class="content">
      <h3>Welcome to my page.</h3>
      <h3>Mission Statement: This website is my own personal portfolio. 
      Feel free to browse the navigation bar at the top of the page to learn more about me.</h3>
    </main>


<!--Footer-->
<%- include partials/footer.ejs %>
    

