<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>




    <!--navigation bar and logo!-->
    <%- include partials/nav_bar.ejs %>
    <!--Main content-->
    <main class="content">
      <h3>Project 1: Sample product webpage</h3>
        <h3>Designed the webpage and edited images.</h3>
        <img src="/assets/images/rd2.png" height="400" width="900"><br>
        <a href="http://studentweb.cencol.ca/jsoria29/a3/Assignment3.html">Click me to view the website</a><br><br>

        <h3>Project 2: Software requirements specification document</h3>
        <h3>Created an SRS document in a group and discussed a concept for an application.</h3>
        <img src="/assets/images/srs.png"><br>
        <img src="/assets/images/srs2.png"><br>
        <a href="/assets//pdf/dorm.ly.pdf">Click me to view the SRS document</a><br><br>

        <h3>Project 3: VehicleApp</h3>
        <h3>Created a sample UI for a vehicle application order form.</h3>
        <img src="/assets/images/vehicleapp.png">
    </main>




<!--Footer-->
<%- include partials/footer.ejs %>