<!--
    file name: Assignment 1
    student name: Joshua Soriano
    student id: 301 154 852
    date: Friday, October 1, 2021
-->

<!--Header-->
<%- include partials/header.ejs %>




    
    <!--navigation bar and logo!-->
    <%- include partials/nav_bar.ejs %>
    <!--Main content-->
    <main class="content">
        <h3>Some services I offer:</h3>
            <h3>
                <li>General programming</li>
                <li>Web development</li>
            </h3>
    </main>


<!--Footer-->
<%- include partials/footer.ejs %>